.app{
    height: 750px;
    width: 100%;
    border: 2px solid black;
}
.app-content{
    height: 200px;
    width: 300px;
    margin: auto;
    text-align: center;

}
.app-content button{
    height: 30px;
    width: auto;
}